*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: "Sora";
  src: url("/fonts/Sora-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  display: grid;
  place-content: center;
  min-height: 80dvh;
  font-family: "Sora", Arial, Helvetica, sans-serif;
  max-width: 40rem;
  margin: 0 auto;
}
.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.gameboard * {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  border: 1px solid black;
  margin: 0;
}
.gameboard p {
  color: rgba(0, 0, 0, 0);
}
